$ButtonColor: #e85408

html
  font-family: 'Raleway', sans-serif
  font-size: 14px
.button
  border: 1px solid #ffffff
  display: block
  border-radius: 25px
  text-align: center
  text-transform: uppercase
  text-decoration: none
  font-weight: 600
  line-height: 4em
  color: #ffffff
.button:hover
  border-color: $ButtonColor
  background-color: $ButtonColor
  color: #ffffff
  text-decoration: none
